:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.gestion-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gestion-content {
    flex: 1;
    padding: 2rem 3rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}