.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.content-wrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
    height: calc(100vh - 60px);
}

.main-content {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-content.with-sidebar {
    width: calc(100% - 260px);
}