<div class="finanzas-container">
  <h1>Vista General de Finanzas</h1>
  <p>Aquí podrás ver un resumen general de las finanzas del negocio.</p>
  <div class="links">
    <a routerLink="/gestion/finanzas/costos-operativos" class="link-card">
      <i class="ph ph-currency-dollar"></i>
      <span>Costos Operativos</span>
    </a>
    <a routerLink="/gestion/finanzas/recuento-gastos" class="link-card">
      <i class="ph ph-trend-down"></i>
      <span>Recuento de Gastos</span>
    </a>
    <a routerLink="/gestion/finanzas/recuento-ganancias" class="link-card">
      <i class="ph ph-trend-up"></i>
      <span>Recuento de Ganancias</span>
    </a>
  </div>
</div>

