@use 'app/shared/mixins' as *;

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    // border: 14px solid red;
    // background: red;
}

.editor-main-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden; // Force children to be constrained
    flex: 1; // Use flex growth instead of fixed height
    min-height: 0; // Crucial for nested scroll containers
    // border: 14px solid green;
    gap: 20px;

    @media (max-width: 1440px),
    (max-height: 900px) {
        // padding: 0.5rem 1rem;
    }

    @include mobile {
        // padding: 0.5rem;
        padding-bottom: 80px;
    }
}

header {
    // margin-bottom: 2rem;
    margin: 0;
    // flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    max-width: 1200px;
    margin-inline: auto;
    // border: red solid 1px;
    width: 100%;

    @media (max-width: 1440px),
    (max-height: 900px) {
        // margin-bottom: 0.5rem;
        // align-items: center;
        // gap: 1rem;
    }

    @include mobile {
        // flex-direction: column;
        // align-items: flex-start;
        // gap: 0.2rem;
    }

    h1 {
        font-size: 24px;
        // margin-bottom: 0.5rem;
        margin: 0;

        @media (max-width: 1440px),
        (max-height: 900px) {
            // font-size: 1.2rem;
            // margin-bottom: 0;
        }

        @include mobile {
            // font-size: 1.5rem;
        }
    }

    p {
        color: var(--text-secondary);
        margin: 0;

        @media (max-width: 1440px),
        (max-height: 900px) {
            font-size: 0.8rem;
            margin: 0;
        }
    }
}

.workspace-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 2rem;
    width: 100%;
    flex: 1;
    overflow: hidden;
    min-height: 0;
    max-width: 1200px;
    margin-inline: auto;
    // border: red solid 1px;
    width: 100%;

    @include mobile {
        gap: 0.5rem;
        flex-direction: column;
    }
}

.editor-area {
    flex: 1;
    background-color: var(--sidebar-bg);
    border-radius: var(--radius);
    padding: 10px;
    border: 1px solid var(--border-color);
    // display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    // min-height: 0;
    // overflow-y: auto; // Allow scroll if content is too big

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    height: fit-content;
    gap: 10px;
    min-height: 300px;
    // @media (max-width: 1440px),
    // (max-height: 900px) {
    //     padding: 0.5rem;
    // }

    &.has-not-file {
        grid-template-rows: 1fr;
    }
}

/* Action buttons and generic overrides if needed */
.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    // margin-top: auto;
    flex-shrink: 0;
    // padding-top: 1rem;

    @media (max-width: 1440px),
    (max-height: 900px) {
        padding-top: 0;
    }

    @include mobile {
        flex-wrap: wrap;
        gap: 0.8rem;

        .btn {
            flex: 1;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 140px;
        }
    }
}

.filename-input {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: var(--sidebar-bg);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid var(--border-color);

    input {
        background: transparent;
        border: none;
        color: var(--text-primary);
        outline: none;
        width: 120px;
    }

    span {
        color: var(--text-secondary);
    }
}

/* Darker shadow for better silhouette - Global fix for Cropper */
// ::ng-deep .cropper-modal {
//     opacity: 0.8 !important;
// }